#half1 {
    position: fixed;
    height:90%;
    width:50%;
    left:0%;
    top:0%;
    background-color:#380134;
}
#half2 {
    position: fixed;
    height:90%;
    width:50%;
    left:50%;
    top:0%;
    background-color:#8cada4;
}

#half1 a{
    text-decoration: none;
    color:white;
}

#half2 a{
    text-decoration: none;
    color:#84118a;
}
#half2 li{
    color:white;
}
.h1ul{
    color:aqua;
}
#half1 li{
    color:aqua
}
.h2ul {
    color:#380134;
}
#half2 li{
    color: #380134;
}
#half1 a:hover{
    color:aqua;
    text-decoration: underline;
}
#half2 a:hover{
    color:#380134;
    text-decoration: underline;
}
#home {
    position: fixed;
    height:10%;
    width:100%;
    background-color:black;
    left:0%;
    top:90%;
}
#home p{
    color:white;
    font-size: 120%;
    text-align: center;
}
#home p:hover{
    background-color:darkgreen;
}