html {
  background: url(stars.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height:100%;
    width:100%;
    z-index:-1;
  }
  body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height:100%;
    width:100%;
    z-index:0;
  }


  a {
      text-decoration: none;
  }
  a:hover   {
    /* Applies to links under the pointer */
    text-decoration:  underline;
    color:            #fff;
  }
  #toggle {
    position:absolute;
    height:10%;
    width:10%;
    text-align: center;
    justify-content: center;
    left:0%;
    bottom:20%;
    background-color:purple;
    color:black;
    overflow: hidden;
  }
  #toggle a {
    color:black;
  }
  #music {
    position:fixed;
    bottom:0%;
    left:20%;
    width:60%;
    height:10%;
  }
  #music iframe {
      color:green;
      height:100%;
      width:100%;
       }
.buttons{
  position: fixed;
  height:20%;
  width:20%;
  background-color:rgba(71, 1, 66, 0.85);
  color:white;
  display: table;
  border-radius:15px;
  border:4px solid white;
}
  #s1 {
    left:0%;
    top:0%;
  }
  .buttons p{
    position: relative;
    height:auto;
    width:100%;
    left:0;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    padding:0px;
    font-weight:700;
    letter-spacing:1.5px;
  }
  #s2 {
      right:0%;
      top:0%;
  }
#s3 {
      bottom:0%;
      left:0%;

}
#s4 {
      right:0%;
      bottom:0%;
}
#hello {
  height:10%;
  width:40%;
  position: fixed;
  left:30%;
  top:2%;
}
#hello img {
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#shareme {
  position: fixed;
  top:83%;
  height:15%;
  width:calc(60% - 50px);
  left:calc(20% + 25px)
}
#shareme iframe {
 position: absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
}
#thisback {
  position:absolute;
  width:60%;
  height:60%;
  left:20%;
  top:20%;
  object-fit: contain;
  object-position: center;
}
#thisback img {
  position: relative;
  max-height:100%;
  max-width:100%;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}
