#begin {
    height: 15%;
    width:100%;
    position: fixed;
background-color: aqua;
text-align: center;
left: 0%;
right: 0%;
top:0%;
}
.inv{
    padding:10px;
}
#begin img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);

}

#selectback {
    position: fixed;
    top:15%;
    left: 0%;
    height:8%;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}
#target {
    position: absolute;
    width:50%;
    left:25%;
    top:0;
    height:100%;
    text-align: center;
    font-size: 22px;
}
#cont {
    position: fixed;
    top:23%;
    text-align: center;
    height:67%;
    width: 100%;
    background-color: darkmagenta;
    left:0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#cont img{
    position: absolute;
    max-width: 100%;
    max-height:100%;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}
#content_1 {
    background-color: rgb(8, 134, 56);
    position: fixed;
    top:23%;
    text-align: center;
    height:67%;
    width: 100%;
    left:0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#content_2 {
    background-color: rgb(60, 30, 109);
    position: fixed;
    top:23%;
    text-align: center;
    height:67%;
    width: 100%;
    left:0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#content_3 {
    background-color: rgb(25, 108, 141);
    position: fixed;
    top:23%;
    text-align: center;
    height:67%;
    width: 100%;
    left:0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home {
    height:10%;
    width:100%;
    position: fixed;
    top:90%;
    left:0%;
    background-color: black;
}
.home p {
  width:20%;
  left:40%;
  position:relative;
  text-align: center;
}
.home a {
    color:white;
}
.padding p{
    padding:10px;
}
